<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/StyleTemplate.css">
</head>
<body>
    <div class="cardbox">
        <!--<div class="nav">-->
        <header class="parallax">
            <div class="sticky-header">
                <h1>Mugs & Kisses</h1>
                <h2>Cafe * Coffee Roastery</h2>
            </div>
            
        </header>
    
        <nav>
            <ul>
                <a href="../homepage/homepage.html">HOME</a>
                <li>MENU</li>
                <li>EVENTS</li>
                <li>WHOLESALE</li>
                <li>CONTACT</li>
            </ul>
        </nav>
        <!--</div>-->
        <div class="card" id="card1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero veritatis voluptatum quos sed, at velit corrupti earum quasi recusandae, rem quis quae aperiam quod temporibus. Vel quam ipsa placeat reiciendis atque vitae expedita sunt porro illo, maiores ut, accusamus laboriosam cupiditate! Harum obcaecati aliquam veritatis voluptatibus ex mollitia molestias temporibus.</div>
        <div class="card" id="card2">2</div>
        <div class="card" id="card3">3</div>
        <div class="card" id="card4">4</div>
        <div class="card" id="card5">5</div>
        <div class="card" id="card6">6</div>
        <div class="card" id="card7">7</div>
        <div class="card" id="card8">8</div>
        <div class="card" id="card9">9</div>
        <div class="card" id="card10">10</div>
        <div class="card" id="card11">11</div>
        <div class="card" id="card12">12</div>
        <div class="card" id="card13">13</div>
        <div class="card" id="card14">14</div>
        <div class="card" id="card15">15</div>
        <div class="card" id="card16">16</div>
        <div class="card" id="card17">17</div>
        <div class="card" id="card18">18</div>
        <div class="card" id="card19">19</div>
        <div class="card" id="card20">20</div>
        <div class="card" id="card21">21</div>
        <div class="card" id="card22">22</div>
        <div class="card" id="card23">23</div>
        <div class="card" id="card24">24</div>
        <div class="card" id="card25">25</div>
        <div class="card" id="card26">26</div>
        <div class="card" id="card27">27</div>
        <div class="card" id="card28">28</div>

        <!-- <div class="footer"> -->
            <footer>
                <p>&copy;2023 by GroupOne Design</p>
                <p>Koffiestraat 89, 9000 Gent, België - VAT 0123456789</p>
                <p>koffie@email.com</p>
            </footer>
        <!-- </div> -->
    </div>

</body>
</html>