*{
    margin: 0;
    padding: 0;
}

body{ /*parent*/
    width: 100vw; /*view width*/
    display: flex;
    flex-direction: column;
    align-items: left;
}

@media only screen and (max-width: 479px){ /*smartphone*/
    body{ 
        background-color: red;
        color: black;  
    }
    #medium,#large{
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1023px){ /*tablet*/
    body{ 
        background-color: green;
        color: black;    
    }
    #small,#large{
        display: none;
    }
}

@media only screen and (min-width: 1024px){ /*PC*/
    body{ 
        background-color: blue;
        color: black;    
    }
    #small,#medium{
        display: none;
    }
}

/*Classes*/

.small{
    font-size: 25px;
}

.medium{
    font-size: 50px;
}

.large{
    font-size: 100px;
}