@use '../../Template/styles/StyleTemplate.scss';
@import "https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap";
body {
  background-color: StyleTemplate.$primary-color;
  text-align: left;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px repeat(12, 1fr);
  gap: 0px;
  font-weight: 800;
  color: StyleTemplate.$primary-color;
  font-family: "Rubik", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

a{
  color:StyleTemplate.$secondary-color;
}

p {
  font-weight: 500;
}
header,
h1,
h2 {
    font-family: StyleTemplate.$titlefont;
  padding-left: 1em;
}
nav {
  background-color: StyleTemplate.$primary-color;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
}
li {
  list-style: none;
}
.product {
  padding: 1em;
}
.price {
  float: right;
}
.card {
  display: grid;
  border: solid gray 1px;
  margin: 5px;
  padding: 5px;
  background-color: StyleTemplate.$secondary-light;
}
footer {
  display: grid;
  color: StyleTemplate.$secondary-color;
  background-color: StyleTemplate.$primary-color;
  text-align: center;
  grid-column: span 12;
  margin: 5px;
  padding: 5px;
}
.cardbox {
  display: grid;
  height: 100vh;
}
@media only screen and (max-width: 479px) {
  .card {
    grid-column: span 12;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1023px) {
  #card1 {
    grid-column: span 12;
  }
  #card2,
  #card3 {
    grid-column: span 6;
  }
}
@media only screen and (min-width: 1024px) {
  #card1 {
    grid-column: span 12;
  }
  #card2,
  #card3 {
    grid-column: span 6;
  }
} 
